.darkMode{
    background: #000000 !important;
}
.headerCompleto{
    background: #37383C;
}
    .navIcon{
        all: unset;
    background-color: #ffffff !important;

        &::before{
    background-color: #ffffff !important;

        }//CloseBefore
        &::after{
    background-color: #ffffff !important;

      }//CloseAfter
    }//CloseNavIcon