@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root[color-mode="light"] {
  --gifos-header: #ffffff;
  --gifos-principal-font: #572EE5;
  --gifos-green: #50E3C2;
  --gifos-trends-sub: #000000;
  --border-search: #572EE5;
  --gifos-ulback: rgba(87,46,229,0.90);
  --gifos-networks: #CDD6E0;
  --gifos-trending-back: #F3F5F8;
  --gifos-background: #ffffff;
  --gifos-span: #50E3C2;
  --gifos-search: #808080;
}

:root[color-mode="dark"] {
  --gifos-principal-font: #ffffff;
  --gifos-background: #37383C;
  --gifos-ulback: #000000;
  --gifos-header: #ffffff;
  --gifos-trends-sub: #ffffff;
  --gifos-trending-back: #222326;
  --gifos-networks: #CDD6E0;
  --gifos-span: #50E3C2;
}

:root[color-mode="light"] .hideL {
  display: none;
}

:root[color-mode="dark"] .hideD {
  display: none;
}

body {
  background: var(--gifos-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  border-top: 5px solid var(--gifos-ulback);
  font-family: 'Roboto', sans-serif;
  background-color: var(--gifos-background);
  width: 100%;
  position: fixed;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: var(--gifos-ulback);
  height: 100vh;
  opacity: 0.9;
}

.header ul li a {
  color: var(--gifos-header);
  display: block;
  margin: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.header ul li a.load-gif {
  display: none;
}

.header ul .borde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header ul .borde .borde2 {
  border: 1px solid var(--gifos-header);
  width: 15%;
  opacity: 0.5;
}

.header .logo {
  float: left;
  display: block;
  padding: 20px 20px;
  width: 95px;
  height: auto;
}

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  margin: 5% 0;
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background-color: var(--gifos-principal-font);
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon::before {
  background: var(--gifos-principal-font);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  background: var(--gifos-principal-font);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.load-gif {
  display: none;
}

main {
  padding-top: 40%;
}

main #titulo {
  margin: 0 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: var(--gifos-principal-font);
  text-align: center;
  line-height: 33px;
}

main #titulo span {
  color: var(--gifos-span);
}

main #busqueda {
  margin: 0 5%;
  padding: 20px 0;
}

main #busqueda .image-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #busqueda .image-search img {
  width: 90%;
}

main #busqueda .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid var(--gifos-principal-font);
  border-radius: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: 100%;
}

main #busqueda .search-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main #busqueda .search-btn {
  color: var(--gifos-principal-font);
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

main #busqueda .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: var(--gifos-search);
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main #trending {
  font-family: 'Montserrat', sans-serif;
}

main #trending .trend-text {
  padding: 20px 10%;
  font-family: 'Montserrat', sans-serif;
}

main #trending .trend-text h2 {
  text-align: center;
  color: var(--gifos-principal-font);
  font-size: 16px;
  line-height: 25px;
}

main #trending .trend-text .random-trend {
  text-align: center;
  color: var(--gifos-principal-font);
  font-size: 14px;
  line-height: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #trending .trend-text .random-trend .noSpace {
  white-space: nowrap;
}

main #trending .tr-gifs {
  background: var(--gifos-trending-back);
}

main #trending .tr-gifs .text-inside {
  margin: 0 5%;
  text-align: center;
}

main #trending .tr-gifs .text-inside h2 {
  font-size: 20px;
  line-height: 30px;
  color: var(--gifos-principal-font);
  font-weight: 800;
}

main #trending .tr-gifs .text-inside p {
  margin: 0 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: var(--gifos-trends-sub);
}

.search-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid var(--gifos-principal-font);
  border-radius: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: 100%;
}

.search-box-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.random-trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
}

.search-btn {
  color: var(--gifos-principal-font);
  border-radius: 50%;
  background: none;
}

.search-txt-header {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: var(--gifos-search);
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.suggestions {
  font-family: 'Montserrat', sans-serif;
  color: var(--gifos-search);
  margin: 0px 5px 5px;
}

.suggestions > li {
  padding: 5px 0px;
  text-align: left;
  cursor: pointer;
}

.suggestions > li > i {
  margin-right: 10px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hideSearch {
  display: none;
}

.gifs-container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 85%;
  grid-gap: 30px;
  grid-row-gap: 35px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 100%;
}

footer {
  border-bottom: 5px solid var(--gifos-ulback);
}

footer #redes {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

footer #redes h4 {
  color: var(--gifos-trends-sub);
  font-weight: 300;
}

footer #redes .social-media a {
  color: var(--gifos-networks);
  padding: 0 5px;
}

footer #redes .social-media a:hover {
  color: #572EE5;
}

.noneDisplayed {
  display: none;
}

.noneDisplayedFavs {
  display: none;
}

@media (min-width: 720px) {
  .header {
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header ul {
    all: unset;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: var(--gifos-ulback);
    max-height: none;
  }
  .header ul li {
    float: left;
  }
  .header ul li a {
    margin-top: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--gifos-principal-font);
    font-weight: 900;
    letter-spacing: 0;
    text-align: center;
  }
  .header ul li a:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .header ul li a:active {
    color: rgba(6, 10, 36, 0.56);
  }
  .header ul li a.load-gif {
    display: block;
    color: var(--gifos-principal-font);
    border: 1px solid var(--gifos-principal-font);
    margin: 18px;
    padding: 13px 22px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 400;
  }
  .header ul li a.load-gif:hover {
    background-color: var(--gifos-principal-font);
    color: var(--gifos-background);
  }
  .header ul li .borde {
    display: none;
  }
  .header .menu {
    background-color: var(--gifos-background);
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  main {
    padding-top: 10%;
  }
  main #titulo {
    font-size: 35px;
    line-height: 50px;
  }
  main #busqueda .image-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #busqueda .image-search img {
    width: 30%;
  }
  main #busqueda .search-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
  }
  main #busqueda .search-btn {
    color: var(--gifos-principal-font);
    border-radius: 50%;
    background: none;
    margin-right: 5%;
  }
  main #busqueda .search-txt {
    float: left;
    color: var(--gifos-search);
    font-size: 16px;
    margin-left: 5%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  footer {
    top: 10%;
  }
  footer #redes {
    all: unset;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .social-media-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-media {
    margin-left: 20px;
  }
  .gifs-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hideSearch {
    margin-top: 10%;
  }
}
/*# sourceMappingURL=style.css.map */