@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    position: fixed;
    z-index: 3;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background: rgba(87,46,229,0.90);
        height: 100vh;
        li{
            a{
                color: #ffffff;
                display: block;
                padding: 20px;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
              }//CloseA
        }
        .borde{
            display: flex;
            justify-content: center;
            .borde2{
                border: 1px solid #ffffff;
                width: 15%;
                opacity: 0.5;
            }
        }
          
     }//CloseUl
     .logo{
        float: left;
        display: block;
        padding: 20px 20px;
      }

      .menu{
          clear: both;
          max-height: 0;
          transition:max-height .2s ease-out;
      }

      .menu-icon{
          margin: 5% 0;
          padding: 28px 20px;
          position: relative;
          float: right;
          cursor: pointer;
          .nav-icon{
              background-color: #572EE5;
              display: block;
              height: 2px;
              width: 18px;
              position: relative;
              transition:background .2s ease-out;
              &::before{
                  background: #572EE5;
                  content: "";
                  display: block;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  transition: all .2s ease-out;
                  top: 5px;
              }//CloseBefore
              &::after{
                background: #572EE5;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all .2s ease-out;
                top: -5px;
            }//CloseAfter
          }//CloseNavIcon
      }//CloseMenuIcon

      .menu-btn{
        display: none;
        &:checked ~ .menu{
            max-height: 100vh;
        }
        &:checked ~ .menu-icon{
            .nav-icon{
                background: transparent;
                &::before{
                    transform: rotate(-45deg);
                    top: 0;
                }
                &::after{
                    transform: rotate(45deg);
                    top: 0;
                }
            }//CloseNavIcon
        }//CloseChkMenuIcon
      }//CloseMenuBtn
  }//CloseHeader

main{
    padding-top: 40%;
    
    #titulo{
        margin: 0 5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 33px;
        span{
            color: #50E3C2;
        }
    }
    #busqueda{
        margin: 0 5%;

        padding: 20px 0;
        .image-search{
            display: flex;
            justify-content: center;
            img{
                width: 90%;
            }
        }
        .search-box{
            display: flex;
            justify-content: space-around;
            height: 40px;
            border: 1px solid #572EE5;
            border-radius: 40px;
            padding: 10px;
        }
        .search-btn{
            color: #572EE5;
            border-radius: 50%;
            background: none;
        }
        .search-txt{
            border: none;
            background: none;
            outline: none;
            float: left;
            color: #572EE5;
            font-size: 16px;
            transition: 0.4s;
        }
    }
    #trending{
        font-family: 'Montserrat', sans-serif;

        .trend-text{
            padding: 20px 10%;
            h2{
                text-align: center;
                color: #572EE5;
                font-size: 16px;
                line-height: 25px;
            }
            p{
                text-align: center;
                color: #572EE5;
                font-size: 14px;
                line-height: 25px;
            }
        }
        .tr-gifs{
            background: #F3F5F8;
            .text-inside{
                margin: 0 5%;
                text-align: center;
                h2{
                    font-size: 20px;
                    line-height: 30px;
                    color: #572EE5;
                    font-weight: 800;
                }
                p{
                    margin: 0 30px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    line-height: 23px;
                    font-weight: 400;
                }
            }
        }
    }

}//closeMain

footer{
    #redes{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        .social-media{
            a{
                color: #CDD6E0;
                padding: 0 5px;
            }
        }
    }
}