@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root[color-mode= "light"]{
    --gifos-header: #ffffff;
    --gifos-principal-font: #572EE5;
    --gifos-green: #50E3C2;
    --gifos-trends-sub: #000000;
    --border-search: #572EE5;
    --gifos-ulback: rgba(87,46,229,0.90);
    --gifos-networks: #CDD6E0;
    --gifos-trending-back: #F3F5F8;
    --gifos-background: #ffffff;
    --gifos-span: #50E3C2;
    --gifos-search: #808080;
  }

:root[color-mode= "dark"]{
    --gifos-principal-font: #ffffff;
    --gifos-background: #37383C;
    --gifos-ulback: #000000;
    --gifos-header: #ffffff;
    --gifos-trends-sub: #ffffff;
    --gifos-trending-back: #222326;
    --gifos-networks: #CDD6E0;
    --gifos-span: #50E3C2;
}

:root[color-mode="light"] .hideL{
    display: none;
}
:root[color-mode="dark"] .hideD{
    display: none;
}
body{
    background: var(--gifos-background);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.header{
    border-top: 5px solid var(--gifos-ulback);
    font-family: 'Roboto', sans-serif;
    background-color: var(--gifos-background);
    // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    position: fixed;
    z-index: 3;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background: var(--gifos-ulback);
        height: 100vh;
        opacity: 0.9;
        li{
            a{
                color: var(--gifos-header);
                display: block;
                margin: 20px;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
              }//CloseA
              a.load-gif{
                  display: none;
              }
        }
        .borde{
            display: flex;
            justify-content: center;
            .borde2{
                border: 1px solid var(--gifos-header);
                width: 15%;
                opacity: 0.5;
            }
        }
          
     }//CloseUl
     .logo{
        float: left;
        display: block;
        padding: 20px 20px;
        width: 95px;
        height: auto;
      }

      .menu{
          clear: both;
          max-height: 0;
          transition:max-height .2s ease-out;
      }

      .menu-icon{
          margin: 5% 0;
          padding: 28px 20px;
          position: relative;
          float: right;
          cursor: pointer;
          .nav-icon{
              background-color: var(--gifos-principal-font);
              display: block;
              height: 2px;
              width: 18px;
              position: relative;
              transition:background .2s ease-out;
              &::before{
                  background: var(--gifos-principal-font);
                  content: "";
                  display: block;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  transition: all .2s ease-out;
                  top: 5px;
              }//CloseBefore
              &::after{
                background: var(--gifos-principal-font);
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all .2s ease-out;
                top: -5px;
            }//CloseAfter
          }//CloseNavIcon
      }//CloseMenuIcon

      .menu-btn{
        display: none;
        &:checked ~ .menu{
            max-height: 100vh;
        }
        &:checked ~ .menu-icon{
            .nav-icon{
                background: transparent;
                &::before{
                    transform: rotate(-45deg);
                    top: 0;
                }
                &::after{
                    transform: rotate(45deg);
                    top: 0;
                }
            }//CloseNavIcon
        }//CloseChkMenuIcon
      }//CloseMenuBtn
  }//CloseHeader
.load-gif{
    display: none;
}
main{

    padding-top: 40%;
    #titulo{
        margin: 0 5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: var(--gifos-principal-font);
        text-align: center;
        line-height: 33px;
        span{
            color: var(--gifos-span);
        }
    }
    #busqueda{
        margin: 0 5%;

        padding: 20px 0;
        .image-search{
            display: flex;
            justify-content: center;
            img{
                width: 90%;
            }
        }
        .search-box{
            display: flex;
            justify-content: space-around;
            height: fit-content;
            border: 1px solid var(--gifos-principal-font);
            border-radius: 40px;
            flex-direction: column;
            padding: 10px;
            width: 100%;
            div{
                display: flex;
                justify-content: space-between;
                height: fit-content;
            }
        }
        
        .search-btn{
            color: var(--gifos-principal-font);
            border-radius: 50%;
            background: none;
            cursor: pointer;
        }
        .search-txt{
            border: none;
            background: none;
            outline: none;
            float: left;
            color: var(--gifos-search);
            font-size: 16px;
            transition: 0.4s;
        }
    }
    #trending{
        font-family: 'Montserrat', sans-serif;

        .trend-text{
            padding: 20px 10%;
            font-family: 'Montserrat', sans-serif;
            h2{
                text-align: center;
                color: var(--gifos-principal-font);
                font-size: 16px;
                line-height: 25px;
            }
            .random-trend{
                text-align: center;
                color: var(--gifos-principal-font);
                font-size: 14px;
                line-height: 25px;
                flex-wrap: wrap;
                .noSpace{
                    white-space:nowrap;
                }
            }
        }
        .tr-gifs{
            background: var(--gifos-trending-back);
            .text-inside{
                margin: 0 5%;
                text-align: center;
                h2{
                    font-size: 20px;
                    line-height: 30px;
                    color: var(--gifos-principal-font);
                    font-weight: 800;
                }
                p{
                    margin: 0 30px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    line-height: 23px;
                    font-weight: 400;
                    color: var(--gifos-trends-sub);
                }
            }
        }
    }

}//closeMain

.search-box-header{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    border: 1px solid var(--gifos-principal-font);
    border-radius: 40px;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    div{
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }
}

.random-trend{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.search-btn{
    color: var(--gifos-principal-font);
    border-radius: 50%;
    background: none;
}
.search-txt-header{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: var(--gifos-search);
    font-size: 16px;
    transition: 0.4s;
}

.suggestions {
    font-family: 'Montserrat', sans-serif;
    color: var(--gifos-search);
    margin: 0px 5px 5px;

}

.suggestions >li {
    padding: 5px 0px;
    text-align: left;
    cursor: pointer;
}

.suggestions > li > i {
    margin-right: 10px;
}
  .search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hideSearch{
    display: none;
}


.gifs-container{
    grid-template-columns: repeat(2, 1fr);
    max-width: 85%;
    grid-gap: 30px;
    grid-row-gap: 35px;
    margin: 0 auto;
    display: grid;
    width: 100%;
}

footer{
    border-bottom: 5px solid var(--gifos-ulback);
    #redes{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        h4{
            color: var(--gifos-trends-sub);
            font-weight: 300;
        }
        .social-media{
            a{
                color: var(--gifos-networks);
                padding: 0 5px;
                &:hover{
                    color: #572EE5;
                }
            }

        }
    }
}

.noneDisplayed{
    display: none;
}

.noneDisplayedFavs{
    display: none;
}

@media (min-width: 720px){
    .header{
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        ul{
            all: unset;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            background: var(--gifos-ulback);
            max-height: none;
            li{
                float: left;
                a{
                    margin-top: 3em;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: var(--gifos-principal-font);
                    font-weight: 900;
                    letter-spacing: 0;
                    text-align: center;


                    &:hover{
                        border-bottom: 2px solid #5ED7C6;
                    }
                    &:active{
                        color: rgba(6,10,36,0.56);
                    }
                }
                a.load-gif{
                    display: block;
                    color: var(--gifos-principal-font);
                    border: 1px solid var(--gifos-principal-font);
                    margin: 18px;
                    padding: 13px 22px;
                    border-radius: 50%;
                    font-size: 25px;
                    font-weight: 400;
                    &:hover{
                        background-color: var(--gifos-principal-font);
                        color: var(--gifos-background);
                    }
                }
                .borde{
                    display: none;
                }
        }
        }
        .menu{
            background-color: var(--gifos-background);
            clear: none;
            float: right;
            max-height: none;
        }
        .menu-icon{
            display: none;
        }
    }//CloseHeader

    main{
        padding-top: 10%;

        #titulo{
            font-size: 35px;
            line-height: 50px;
        }
        #busqueda{
            .image-search{
                display: flex;
                justify-content: center;
                img{
                    width: 30%;
                }
            }
            .search-box{
                justify-content: space-between;
                width: 40%;
            }
            
            .search-btn{
                color: var(--gifos-principal-font);
                border-radius: 50%;
                background: none;
                margin-right: 5%;
            }
            .search-txt{
                float: left;
                color: var(--gifos-search);
                font-size: 16px;
                margin-left: 5%;
                transition: 0.4s;
            }
        }
    }//CloseMain

    footer{
        top: 10%;
        #redes{
            all: unset;
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: space-around;

        }
    }
    .social-media-footer{
        display: flex;
    }
    .social-media{
        margin-left: 20px;
    }

    .gifs-container{
        grid-template-columns: repeat(4, 1fr);
    }
    
    .search-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .hideSearch{
    //     display: block;
        margin-top: 10%;
    }
}